*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  background-color: rgb(199, 168, 168);
  /* background-image: url'("C:/Users/monish.m/Desktop/Task/React Task3/bookfinderapp/public/background.jpg")'; */
  /* background-image: url(https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80); */
}
