@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
*{
  margin:0;
  padding:0;
}

.header{
  text-transform: uppercase;
  text-align: center;
  justify-content: space-around;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Anton;
  background-color: rgb(180, 201, 137);
  color: white;
}
