*{
  margin: 0;
  padding: 0;
}

.header{
  text-transform: uppercase;
  margin: 20px;
  padding: 10px;
  text-align: center;
  justify-content: space-around;
  font-weight: 700;
  font-size: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(70, 63, 63);
  color: rgb(235, 201, 201);
}
.header-line{
  list-style: none;
}
